<?xml version="1.0"?>
<robot name="box">
  <link name="box">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="pallet.glb"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="1.2 0.8 0.144"/>
      </geometry>
    </collision>
  </link>
</robot> 
